---
---

/* load _sass/minima.scss */
@import "{{ site.theme }}";

/* Put any custom CSS here */

h1, h2, h3 {
  color: #45818E;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
}

h2 {
  font-size: 1em;
}

figure {
  float: left;
}
